@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --red: #FD6F63;
    --shadow-red: #aa4444;
    --lighest-green: #D6FEC3;
    --light-green: #8FC89F;
    --green: #669B6B;
    --dark-green: #2F4F4F;
    --darkest-green: #031F23;
    --black: #1B1426;
    --light-blake: #3F394A;
    --yellow: #DAA520;
    --light-yellow: #E6D896;
    --white: #FDFFF5;
    --pink: #FAEBD7;
    --display-font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: var(--display-font);
}

/*
 Home
*/

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pink);
    height: 100vh;
}

.logo {
    margin-top: 8rem;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: .5rem;
}

.leaves{
    width: 100vw;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.nav-link {
    margin-top: 10rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--red);
    padding: 1.5rem 3rem;
    border-radius: 2.75rem 2.75rem 0 2.75rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
} 

/*
 Sign In
*/

.login-page {
    background-color: var(--pink);
    height: 100vh;
}

.import-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--red);
    padding: 1.5rem 3rem;
}

.g-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}

.btn-google {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    padding: 1rem;
}

button:hover {
    cursor: pointer;
}

/* 
 Dashboard
*/

.dashboard{
    background-color: var(--dark-green);
    color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title-dash {
    position: absolute;
    bottom: 23rem;
    color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    text-align: center;
}

.global-challenges {
    margin-top: .5rem;
    border: .2rem;
    border-style: solid;
    padding: .5rem;
    border-color: var(--pink);
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
}

.global-chal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin: 0;
    display: inline;
    float: left;
}

.points {
    margin: 0;
    display: inline;
    float: right;
}

.scores {
    text-align: right;
}

#HASH {
    width: 80%;
}

#HASH div {
    width: 49%;
    display: inline-block;
}

#right {
    text-align: right;
}

.leaderboard-element-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--pink);
    bottom: 20.85rem;
    text-align: center;
}

.leaderboard {
    padding: 1rem .25rem;
    list-style-type: none;
    background-color: var(--pink);
    color: var(--dark-green);
    border-radius: 1rem 1rem 0 0;
    width: 92.5%;
    text-align: left;
    border-width: .5rem;
    font-size: 1.5rem;
    height: 10.5rem;

    flex-direction: column;
    display: flex; 
    overflow: auto;
    border-collapse: collapse;

    position: absolute;
    bottom: 10.35rem;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.entry {
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: space-between;;
}

.leaderName {
    text-align: left;
}

.user {
    padding: 1rem .25rem;
    list-style-type: none;
    background-color: var(--light-yellow);
    color: var(--dark-green);
    border-radius: 0 0 1rem 1rem;
    width: 92.5%;
    text-align: left;
    border-width: .5rem;
    font-size: 1.5rem;
    position: absolute;
    bottom: 6.8rem;
    right: .9rem;
}

/*
 Menu Bar
*/

.menu {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 5vw;
    background-color: var(--darkest-green);
    z-index: 2;
}

.propic{
    height: 50px;
    border-radius: 25px;
}

.action-group {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-decoration: none;
    color: var(--pink);
    border-width: 1px;
    border-color: var(--darkest-green);
    padding: 1rem;
}

.stick{
    height: 75px;
    width: 2px;
    background-color: var(--dark-green);
}

.grouplist {
    list-style-type: none;
    height: 38.65rem;
    flex-direction: column;
    display: flex; 
    overflow: auto;
    border-collapse: collapse;
}

.grouplist-elements {
    margin-top: .5rem;
    margin-left: .5rem;
    border: .1rem;
    border-style: solid;
    border-color: var(--darkest-green);
    background-color: transparent;
    color: var(--darkest-green);
    cursor: pointer;
}

/*
 Groups Page
*/

.group {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-green);
    height: 100vh;
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    color: var(--pink);
}

.group-btn {
    margin-top: .5rem;
    margin-left: .5rem;
    border: .2rem;
    border-style: solid;
    padding: .5rem;
    border-color: var(--pink);
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
}

.groups-header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--pink);
    padding: .5rem;
    color: var(--darkest-green);
    align-items: center;
}

.sidebar {
    display: none;
    height:100%;
    width: 33vw;
    background-color: var(--pink);
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    overflow: auto;
    transition: all 0.4s ease;
}

.open-bar{
    color: var(--darkest-green);
    font-size: 2rem;
    background: none;
    padding: 0 .5rem;
    border: none;
}

.close-bar {
    margin-top: .5rem;
    color: var(--darkest-green);
    font-size: 2rem;
    border: none;
    font-weight: bold;
    background-color: transparent;
}

/* Create */

.formk {
    margin-top: 1rem;
    color: var(--pink);
}

.form-field {
    display: flex;
    margin-top: .5rem;
    margin-left: 1rem;
}

.form-input {
    margin-left: .5rem;
    margin-right: .5rem;
    border: .1rem;
    border-style: solid;
    padding: .5rem;
    border-color: var(--pink);
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
}

.todo-button {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    border: .2rem;
    border-style: solid;
    padding: .5rem;
    border-color: var(--pink);
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
}

.cancel {
    color: var(--pink);
    font-size: 2rem;
    border: .2rem;
    border-style: solid;
    padding: .025rem .5rem .025rem .5rem;
    border-color: var(--pink);
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
}

/* Join */

.join-panel {
    margin-top: 1rem;
}

.bullet-list {
    height: 8rem;
    flex-direction: column;
    display: flex; 
    overflow: auto;
    border-collapse: collapse;
}

.bullet {
    margin-left: 1rem;
    list-style-type: none;
    color: var(--pink);
}

.groups-to-join {
    margin-top: .25rem;
    margin-left: .5rem;
    margin-right: .5rem;
    border: .1rem;
    border-style: solid;
    padding: .5rem;
    border-color: var(--pink);
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
}

.confirm {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    border: .2rem;
    border-style: solid;
    padding: 1rem .3rem 1rem .3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-color: var(--pink);
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
}

/* Individal Group */

.challenge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    border: .2rem;
    border-style: solid;
    padding: .5rem;
    border-color: var(--pink);
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: var(--pink);
    margin-top: 1rem;
}

.shift-right{
    margin-left: 2.25rem;
}

.center-this {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    text-align: center;
}